/* LOGIN PAGE BACKGROUND */
body {
  background: #c4c4c4;
}
#feed,.formAuth{
    margin-top: 100px;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.time {
  font-size: 9px !important;
}
.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer;
}
.feed-image img {
  width: 100%;
  height: auto;
}
#errMsg, #succMsg{
  display: none;
}