<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">bSocial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
      </ul>
      <div>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if (typeof user == 'object' && user) { %>
                <li class="nav-item ">
                    <form id="logOut" action="/user/logOut" method="post">
                        <li onclick="document.getElementById('logOut').submit()" class="nav-item">
                            <a class="nav-link" href="#">Odjavi se</a>
                          </li>
                    </form>
                  </li>
            <% } else {%> 
                <li class="nav-item ">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
            <% } %> 
    
          </ul>
      </div>
    </div>
  </nav>